@font-face {
  font-family: "Unispace";
  src: url("assets/fonts/unispace.bold.otf") format("opentype");
}

html {
  font-family: "Unispace", monospace;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(#8b5cf6, #4c1d95);
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calculator-container {
  margin-top: 200px;
  padding: 10px;
  background-color: #dc2626;
  border: 15px solid #450a0a;
  border-radius: 20px;
  background-image: linear-gradient(to right, #dc2626, #b91c1c);
}

.display {
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border: 5px solid #7f1d1d;
  border-radius: 10px;
  font-size: 64px;
  color: black;
  background-color: #fef3c7;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  color: #450a0a;
  border: 3px solid #7f1d1d;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ef4444, #dc2626);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.button-zero {
  width: 210px;
  margin-left: 5px;
  margin-right: 5px;
}

button:hover {
  background-image: linear-gradient(to right, #dc2626, #b91c1c);
}

button:active {
  transform: scale(0.9);
}

.operand-button {
  background-image: linear-gradient(to right, #fca5a5, #f87171);
}

.operand-button:hover {
  background-image: linear-gradient(to right, #f87171, #ef4444);
}

.delete-button {
  width: 154px;
  background-image: linear-gradient(to right, #15803d, #166534);
  border: 3px solid #052e16;
  color: black;
}

.delete-button:hover {
  background-image: linear-gradient(to right, #166534, #14532d);
}

footer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 20px;
  color: black;
  padding-bottom: 12px;
}

#footer-text {
  margin-left: 4px;
  margin-right: 4px;
  text-shadow: none;
}

#github-icon {
  width: 28px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
